<h1>Welcome to the Trip Calculator</h1>
<p>This is a tool that will help you and your friends calculate how much each of you spent and/or owe after a trip.</p>

<%= link_to "Log in", new_traveler_session_path %><br />